 .logo{
     text-align: center;
     color: #f54a0cf5;
     background-color: #f3f3f3;
     margin-left:25% ;
     margin-right: 25%;
 }    
  #banner{
      text-align: center;
      background-image: url(../images/banner.jpg);
      background-position: 200rem,200rem;
      background-repeat: no-repeat;
     background-position: center center;
      background-size: 600px,2200px;
      margin: 30px, 30px, 30px, 30px;
  }
  #banner h1{
       color: #0df1f1;
  }
  #banner p{
      display: block;
      line-height: 15px;
      letter-spacing: normal;
      word-spacing: 5px;
      font-style: oblique;
      font-variant: initial ;
      font-family: initial ;
      
      font-weight: lighter;
  }
  button{
        width: 200px;
        height: 45px;
        margin: 30px, 30px, 30px, 30px;
        background-color: #ec470b;
        color: #dddbdb;
        font-weight: bolder;
        border-radius: 0.5rem;
  }
  /*nav*/
   nav.v1{
       text-align: center;
    }    
   .v1 h1{
       color: #0df1f1;
       font-family: 'Times New Roman', Times, serif;
    }
    .v1 p{
        font-size: 21px;
        font-style: oblique;
        font-family: initial;
        font-variant: initial; 
        font-weight: lighter;  
    }
    /*img*/
    .x1{
        border-radius: 100%;
    }
      /*nav*/
      nav.v2{
         text-align: center;
      }
      .v2 h1{
          color: #0df1f1;
          font-family: 'Times New Roman', Times, serif;
      }
      .v2 p{
        font-size: 21px;
        font-style: oblique;
        font-family: initial;
        font-variant: initial; 
        font-weight: lighter;
      }
      /*section*/
      section.m1{
           text-align: center;
           background-color: #f7632d;
           color: #f3f3f3;
           margin-left:33% ;
           margin-right: 33%;
      }
      .m1 h1{
          font-style: normal;
          font-weight: bolder;
          font-size: 35px;
      }
      .m1 p{
        font-size: 21px;
        font-style: oblique;
        font-family: initial;
        font-variant: initial; 
        font-weight: lighter;
      }
      .m1 h2{
            font-size: 25px;
            font-style: normal;
      }
      .m1 span{
           font-size: 18px;
           margin: 15px;
      }
       /*artical*/
       article.s1{
           text-align: center;
       }
       div.b1{
            border:0.5px ridge;
            box-sizing: content-box;
            margin-left: 453px;
            margin-right: 452px;
            margin-bottom: 40px;
            margin-top: 45px;
            border-radius: 0.5rem;
             
       }
       .b1 h1{
        color: #0df1f1;
        font-family: 'Times New Roman', Times, serif;
       }
       .b1 p{
        font-size: 22px;
        font-style: oblique;
        font-family: initial;
        font-variant: initial; 
        font-weight: lighter;
       }
       div.b2{
           
           border:0.5px ridge;
            box-sizing: content-box;
            margin-left: 453px;
            margin-right: 452px;
            margin-bottom: 40px;
            margin-top: 45px;
            border-radius: 0.5rem;
       }
       .b2 h1{
        color: #0df1f1;
        font-family: 'Times New Roman', Times, serif;
       }
       .b2 p{
        font-size: 22px;
        font-style: oblique;
        font-family: initial;
        font-variant: initial; 
        font-weight: lighter;
       }
       div.b3{
        border:0.5px ridge;
        box-sizing: content-box;
        margin-left: 453px;
        margin-right: 452px;
        margin-bottom: 40px;
        margin-top: 45px;
        border-radius: 0.5rem;
       }
       .b3 h1{
        color: #0df1f1;
        font-family: 'Times New Roman', Times, serif;
       }
       .b3 p{
        font-size: 22px;
        font-style: oblique;
        font-family: initial;
        font-variant: initial; 
        font-weight: lighter;
       }
       /*footer*/
       .w1{
           text-align: center;
           background-color: #3db3e2;
           color: #f3f3f3; 
           margin-left:33% ;
           margin-right: 33%;
           padding-bottom: 20%;
           padding-top: 20px;
       }
       .w1 h1{
        font-style: normal;
        font-weight: bolder;
        font-size: 35px;
       }
       .w1 p{
            font-size: 20px;
            padding-top: 20px;
           
       }    
        .icon {
        color: #f6755e;
    }

     a {
        color: #c8e7f0;
        text-decoration: none;
    }

     ul li {
        padding: 0 2em;
    }
     .copyright {
        display: inline-block;
        color: #a7d9e7;
        font-size: 0.75em;
        margin: 0 0 2em 0;
        padding: 0;
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        padding: 2em 10em;
       
      
        
         
  

    
    
    
    

    
    

 

   

    


     
    





 
    

    
    
 

    
    
       





 
     


    











 

     
