* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    text-align: center;
    color: red;
    align-items: center;
    background-size: cover;
    font-size: 35px;
    font-family: cursive;
}

.banner {
    background-image: url(/images/banner.jpg);
    background-size: contain;
    margin-top: 10px;
    text-align: center;
    align-items: center;
}

.banner h1 {
    color: #25a2c3;
    padding-top: 25px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    align-items: center;
}


.banner p {
    margin-top: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: #bbb;
}

button {
    width: 200px;
    height: 45px;
    background-color: #ec470b;
    color: #dddbdb;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 35px;
}



/*nav*/

.containt1 h1 {
    margin-top: 30px;
    color: #25a2c3;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.containt1 p {
    text-align: center;
    font-size: 17px;
    color: #bbb;
    margin-top: 16px;
}

/*img*/
.x1 {
    width: 60%;
    border-radius: 100%;
}

/*nav*/
.containt2 {
    text-align: center;
}

.containt2 h1 {
    color: #25a2c3;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 100%;
    text-align: center;
    line-height: 40px;
    padding-right: 40%;
}

.containt2 p {
    font-size: 17px;
    font-style: oblique;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    ;
    font-variant: initial;
    font-weight: lighter;
    letter-spacing: 0.5px;
    line-height: 15px;
    color: #bbb;
    margin-right: 50px;
    word-spacing: 5px;
    content: icon;
    padding-right: 40px;
}

/*section*/
.author {
    text-align: center;
    background-color: #f7632d;


}

.author h1 {
    font-style: normal;
    font-weight: bolder;
    font-size: 21px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    padding-right: 45px;
    color: #f3f3f3;
    line-height: 100%;
    padding-top: 10%;
}

.author p {
    font-size: 21px;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    font-variant: initial;
    font-weight: 10%;
    color: #fff;
    margin-right: 25%;
    padding-top: 10%;
}

.author h2 {
    font-size: 25px;
    font-style: normal;
    color: #f3f3f3;
    padding-right: 30%;
}

.author span {
    font-size: 18px;
    margin: 15px;
    color: #f3f3f3;
    padding-right: 30%;
}

/*artical*/



.division1 {
    text-align: center;
    border: 0.5px, ridge;
    box-sizing: border-box;

}

.division1 h1 {
    color: #25a2c3;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 100%;
    text-align: center;
    line-height: 40px;
    padding-right: 40%;
}

.division1 p {
    text-align: center;
    font-size: 17px;
    font-style: oblique;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    ;
    font-weight: lighter;
    color: #bbb;
    padding-right: 40%;
}

.pic1 {
    width: 70%;
    padding-right: 40%;
    padding-top: 10%;
    height: 20%;
}

.division2 {
    text-align: center;
    border: 0.5px, ridge;
    box-sizing: border-box;


}

.division2 h1 {
    color: #25a2c3;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 100%;
    text-align: center;
    line-height: 40px;
    padding-right: 40%;
}

.division2 p {
    text-align: center;
    font-size: 17px;
    font-style: oblique;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    ;
    font-weight: lighter;
    color: #bbb;
    word-spacing: 30%;
    padding-right: 40%;

}

.pic2 {
    width: 70%;
    padding-right: 40%;
    padding-top: 10%;
    height: 20%;
}

.division3 {
    text-align: center;
    border: 0.5px, ridge;
    box-sizing: border-box;
}

.division3 h1 {
    color: #25a2c3;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 100%;
    text-align: center;
    line-height: 40px;
    padding-right: 40%;
}

.division3 p {
    text-align: center;
    font-size: 17px;
    font-style: oblique;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    ;
    font-weight: lighter;
    color: #bbb;
    word-spacing: 30%;
    padding-right: 40%;
    padding-bottom: 70%;
}

.pic3 {
    width: 70%;
    padding-right: 40%;
    padding-top: 10%;
    height: 20%;
}

/*footer*/
.end {
    text-align: center;
    background-color: #3db3e2;
    color: #f3f3f3;
    padding-right: 30%;
    padding-bottom: 20%;

}

.end h1 {
    font-style: normal;
    font-weight: bolder;
    font-size: 21px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    padding-right: 45px;
    color: #f3f3f3;
    line-height: 100%;
    padding-top: 10%;
    padding-left: 10%;
    text-align: center;
}

.end p {
    font-size: 20px;
    padding-top: 20px;
    padding-right: 30%;
}

.icon {
    color: #f6755e;

}

a {
    color: #c8e7f0;
    text-decoration: none;
}

ul li {
    padding: 0 2em;

}

.copyright {
    display: inline-block;
    color: #a7d9e7;
    font-size: 0.75em;
    margin: 0 0 2em 0;
    padding-right: 10%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}